@page "/dashboard"
@using Money.Components.Layout

<MudContainer>
    <MudGrid>
        <MudItem xs="12" sm="4" md="3">
            <NavMenu />
        </MudItem>
        <MudItem xs="12" sm="8" md="9">
            <MudCard>
                <MudCardContent>
                    <h1>Welcome to the Dashboard</h1>
                    <p>Here is your main content.</p>
                </MudCardContent>
            </MudCard>
        </MudItem>
    </MudGrid>
</MudContainer>
